<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>T___T's Text Replacement Tool for Blogging</title>

		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<h1>TEXT REPLACE TOOL</h1>
		<div class="content">
			{{{ body }}}	
		</div>		
	</body>
</html>