<form action="/process" method="POST">
	<textarea id="txtTextToProcess" name="txtTextToProcess" required>{{ textContent }}</textarea>

	<br />
	{{ message }}
	<br />
	<button class="{{ btnClass }}">PROCESS</button>
</form>